
.page-section{
  color: blue;
  font-size:30px:
}

.color {
  color: darkblue;
  font-size: 30px;
}

h1 {
    background-color: beige;
}

div {
    background-color: beige;
}

p {
    background-color: beige;
    font-size: 18px;
}
